nav { 
    background-color: rgb(70, 180, 127);
    padding: 10px;
}
nav a {
    color: white;
    padding: 10px;
    display: block;
}
body {
  background-image: url('images\profile.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}